@import 'styles/theme';
.about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3em;
    max-height: 100%;
    box-sizing: border-box;
    padding-left: 4%;
    overflow-y: auto;
    background-color: #555550;
}

.about-logo {
    height: 4.5em;
    width: 33em;
    margin-bottom: 2em;
    flex-shrink: 0;
    filter: drop-shadow($dropShadow);
}

.about-text {
    width: 80%;
    & h2 {
        color: #4e92d6df;
        font-weight: 600;
    }
    & p {
        line-height: 1.5em;
        color: $textColor;
        text-align: justify;
    }
}

.about-header {
    display: block;
    margin-top: 0;
    margin-bottom: .7em;
    font-size: 2rem;
    height: 1.6em;
    font-weight: 600;
    color: #4e92d6df;
    border-bottom: .09em solid $textColor;
}

.about-team {
    width: 80%;
    margin-top: 1em;
    & .team-container {
        display: flex;
        //flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    & .team-member {
        margin-bottom: 1em;
        margin-left: 0.2em;
        width: 8em;
        & .name-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
        }
        & .roles-container {
            display: flex;
            flex-direction: column;
        }
        .hex {
            display: block;
            margin: 0 auto;
            position: relative;
            width: 6.3em;
            height: 6em;
            /* width * 0.866 */
            background: #4e92d6df;
            box-sizing: border-box;
            -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
        }
        .hex-background {
            position: absolute;
            background-color: $background;
            /*color of the main-background*/
            top: 0.1em;
            /* equal to border thickness */
            left: 0.1em;
            /* equal to border thickness */
            width: 6.1em;
            /* container height - (border thickness * 2) */
            height: 5.8em;
            /* container height - (border thickness * 2) */
            -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
        }
        & .member-image {
            border-radius: 50%;
            box-shadow: $dropShadow;
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
            -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
        }
        & .member-name {
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            color: $textColor;
            font-weight: 600;
            line-height: 1.5em;
            border-bottom: 0.1em solid;
            margin: 0.25em;
        }
        & .member-role {
            display: inline-block;
            text-transform: lowercase;
            color: $accent;
            font-weight: 500;
            padding: 0.25em 0.5em;
            border-radius: 0.3em;
            margin: 0.25em;
        }
    }
}

.about-explore {
    width: 80%;
    & .explore-list {
        padding: 0;
        list-style-type: none;
    }
    & .explore-item {
        margin-left: 0;
        text-transform: lowercase;
        background-color: $accent;
        padding: 0.3em 0.5em;
        border-radius: 0.5em;
        box-shadow: $dropShadow;
        margin-bottom: 1em;
        & .explore-item-inner {
            display: flex;
            align-items: center;
            font-size: 1.2em;
            font-weight: 600;
            color: #555550;
        }
        & .explore-item-icon {
            fill: currentColor;
            width: 1.5em;
            height: 1.5em;
            margin-right: 0.5em;
            margin-left: 0.5em;
        }
    }
}

.about-close-button {
    position: absolute;
    top: 1em;
    right: 1.2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    color: $textColor;
}