@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.leaderboard {
    &.container {
        background: $background;
        padding: 1.5em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
    }
    &.user-list {
        list-style: none;
        padding-left: 0;
    }
    &.user-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    & p,
    h2 {
        margin: 0.5em 0;
    }
    & .leaderboard-wrapper {
        width: 100%;
        @media (min-width: 868px) {
            width: 60%;
        }
        & .leaderboard-base {
            width: 100%; // Reset the width for mobile
            justify-content: center;
            margin-left:0% ;
            margin-top: 1%;

            @media (min-width: 868px) {
                width: 60%;
                margin: auto;
                align:center;
            }
        }
        & .leaderboard-header {
            flex-direction: row;
            display: flex;
            justify-content: flex-start;
            &.placing {
                margin-left: 2px;
                font-family: $fontMono;
                font-weight: 800;
                min-width: max-content;
                margin-right: 0;
                margin-left: 0;
                width: 16%;
                text-align: center;
            }
            &.username {
                font-weight: 800;
                margin-left: 2%;
                color: $accent;
                width: 60%;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: $fontMono;
            }
            &.totalscore {
                margin-left: auto;
                margin-right: 0;
                font-family: $fontMono;
                font-weight: 800;
                width: auto;
            }
        }
    }
    .player {
        &.container[data-status="0"] {
            margin: 0.5em 0;
            width: 100%;
            padding: 10px;
            border-radius: $borderRadius;
            display: flex;
            align-items: center;
            background: lighten(rgb(248, 178, 0), 5);
        }
        &.container[data-status="1"] {
            margin: 0.5em 0;
            width: 100%;
            padding: 10px;
            border-radius: $borderRadius;
            display: flex;
            align-items: center;
            background: lighten(rgb(207, 204, 204), 5);
        }
        &.container[data-status="2"] {
            margin: 0.5em 0;
            width: 100%;
            padding: 10px;
            border-radius: $borderRadius;
            display: flex;
            align-items: center;
            background: lighten(rgb(187, 104, 56), 5);
        }
        &.container {
            margin: 0.5em 0;
            width: 100%;
            padding: 10px;
            border-radius: $borderRadius;
            display: flex;
            align-items: center;
            background: lighten($background, 5);
            &.highlighted-row {
                background: #1976d2b3;
                border: 2px solid #b9e0ec;
            }
        }
        &.username {
            font-weight: 500;
            margin-left: 0;
            color: $accent;
            width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: $fontMono;
        }
        &.totalscore {
            margin-left: auto;
            margin-right: 10px;
            font-family: $fontMono;
            font-weight: 500;
        }
        &.placing {
            margin-left: 2px;
            font-family: $fontMono;
            font-weight: 800;
            min-width: max-content;
            margin-right: 0;
            margin-left: 0;
            width: 16%;
            text-align: center;
        }
    }
}

.playerlist {
    margin: 0;
    padding: 0;
    color: $textColor;
    // body row
    &.row {
        height: 40px;
        //border: 2px solid #ffffff;
        &:hover {
            background-color: #847cb2;
            transition: all 0.3s ease;
            border-radius: 10px;
        }
    }
    &.highlighted-row {
        background: #8f65ab;
        //border: 2px solid #e7bdf5;
    }
}