@import 'styles/theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
    &.grid {
        margin-top: 0;
        padding-top: 0;
        justify-content: center;
    }
    &.item {
        padding-top: 0%;
    }
    &.container {
        background: $background;
        padding: 1.5em;
        border-radius: $borderRadius;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: $dropShadow;
    }
    &.user-list {
        list-style: none;
        padding-left: 0;
    }
    &.user-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    & h2 {
        margin: 0.5em 0;
    }
    & p {
        margin: 0;
        width: 30%;
        text-align: center;
    }
    &.grid {
        padding-top: 0%;
        margin-top: 0%;
        text-align: center;
    }
    &.user-list {
        text-align: right;
        align: right;
        margin-left: auto;
        margin-right: 2%;
        font-size: large;
    }
}

.player {
    &.container {
        margin: 0.5em 0;
        width: 20em;
        padding: 10px;
        border-radius: $borderRadius;
        display: flex;
        align-items: center;
        background: lighten($background, 5);
        &.row {
            height: 40px;
        }
        &.highlighted-row {
            background: #1976d2b3;
            border: 2px solid #b9e0ec;
        }
    }
    &.name {
        font-weight: 300;
        margin-left: 5px;
    }
    &.username {
        font-weight: 500;
        color: $accent;
    }
    &.id {
        margin-left: auto;
        margin-right: 10px;
        font-family: $fontMono;
        font-weight: 300;
    }
}