@import 'styles/theme';
.register {
    &.container {
        min-height: 300px;
        /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
        @include center;
        flex-direction: column;
    }
    &.form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 30em;
        height: auto;
        font-size: 16px;
        font-weight: 300;
        padding: 20px;
        border-radius: 0.75em;
        background-color: $background;
        transition: opacity 0.5s ease, transform 0.5s ease;
        box-shadow: $dropShadow;
    }
    &.field {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &.input {
        height: 35px;
        padding-left: 15px;
        margin-left: -4px;
        border: none;
        border-radius: 0.75em;
        margin-bottom: 20px;
        background: transparentize(white, 0.85);
        color: $textColor;
    }
    &.label {
        color: $textColor;
        margin-bottom: 10px;
        text-transform: lowercase;
        font-weight: 300;
        filter: drop-shadow($dropShadow);
    }
    &.button-container {
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }
    &.popup-message {
        margin-top: 2em;
        /* we include the center mixin defined in _theme.scss and save three duplicate lines :) */
        @include center;
        flex-direction: column;
    }
    h2 {
        margin-top: 2%;
        text-align: center;
        filter: drop-shadow($dropShadow);
    }
    p {
        margin-top: 1%;
        font-size: 0.785em;
        filter: drop-shadow($dropShadow);
    }
}